body {
    background-color: #dedede;

}

h3 {
    color: #5A86D5;
    font-family: Palatino Linotype !important;
}

h4 {
    color: #5A86D5;
    font-family: Palatino Linotype !important;
    text-align: center;
}

label {
    font-family: "Times New Roman", Times, serif;
}

.imgCv {
    width: 50px;
    float: right;
}

#persTit {
    display: block !important;
}

.imgCv2 {
    border: 3px solid #5A86D5;
    border-radius: 50%;
    cursor: pointer;
    margin-right: -1px;
}

.users {
    padding-top: 25px;
    margin-left: 30px;
}

.navbar-default {
    background-color: #dce4e7;
}

.navbar-brand {
    padding: 0;
    margin-top: -13px;
}

.navbar-brand2 {
    /*margin-top: 2px;*/
}

.navbar-brand2:hover {
    color: #4668A6;
}

.navbar {
    background-color: #f9f9f9;
    width: 100%;
    margin: auto;
    border: 5px solid #5A86D5;
    /*position: fixed;*/
    z-index: 100;
    border-radius: 0;
}

.navbar2 {
    padding-top: 2px;
}

.navbar-nav {
    margin-top: 5px;
    float: none !important;
    margin-right: 0;
}

.logOut {
    font-size: 12px;
}

.logOut:hover {
    color: #4668A6;
    text-decoration: underline;
}

.glyphicon-lock {
    padding-right: 5px;
}

.glyphicon-log-in {
    padding-right: 5px;
}

.div1 {
    padding-top: 8%;
    padding-bottom: 12%;
    text-align: center;
    margin: auto;
}

.form {
    border: 9px #5A86D5;
    border-style: double;
    padding: 25px;
    background-color: #f7f7f7;
}

.croppie-container .cr-viewport {
    border: 7px solid #4668A6;
    background-image: url("../img/new.jpg");
    background-size: 300px 300px;
    z-index: -1;
}

.xx {
    cursor: pointer;
    padding: 3px 8px;
    color: #ffffff;
    background-color: red;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
    margin-top: 10px;
}

.xxx {
    cursor: pointer;
    padding: 1px 5px;
    color: #ffffff;
    background-color: red;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
    margin-top: 10px;
}

.xx:hover {
    background-color: #C42D28;
}

.xx2 {
    margin: 0;
}

.xx3 {
    margin-top: 0;
}

.target {
    width: 100%;
    padding: 8px 5px;
    margin: 0 0 15px 0;
    display: inline-block;
    outline: -webkit-focus-ring-color auto 0;
    text-align: left;
    font-size: 12px;
}

.inputUP {
    border: 1px solid #6292e9;
    background-color: white;
    outline: none;
}

.btn {
    cursor: auto;
}

.btn-default:hover {
    background-color: #efefef;
    border-color: #c6c6c6;
}

.btn-default:focus {
    background-color: #efefef;
    border-color: #c6c6c6;
}

.btn-default:active:focus {
    background-color: #efefef;
    border-color: #c6c6c6;
}

#telo {
    margin-top: 8px;
}

.educDel2 {
    margin: 30px auto 0 auto;
}

.educDel2_1 {
    margin-top: 32px;
}

.delWork2 {
    margin: 30px auto 0 auto;
}

input[type=checkbox] {
    margin: 40px 0 0 0;
}

.about {
    padding: 12px 16px;
    box-sizing: border-box;
    resize: none;
}

.panel {
    border: 2px solid #C7C7C7;
    border-radius: 10px;
    background-color: #EBEBEB;
}

#cv {
    color: #5A86D5;
    font-family: Palatino Linotype;
}

.mandatory {
    color: red;
}

#cv:hover {
    color: #4668A6;

}

.title {
    padding-top: 30px;
}

.spanGenter {
    margin-left: -25px;
}

.image {
    padding-top: 20px;
    width: 90%;
    height: auto;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.openImg {
    float: right;
    padding-right: 20px;
}

.cropImg {
    float: left;
    padding-left: 20px;
}

.container {
    position: relative;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.x {
    padding-top: 20px;
}

.x2 {
    padding-top: 10px;
}

.form-control {
    border-radius: 15px;
}

.dateOff {
    margin-top: -5%;
    margin-left: 77%;
}

.newDiv {
    text-align: left;
    color: red;
}

[hidden] {
    display: none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#output {
    width: 420px;
    height: auto;
    padding-top: 20px;
}

.border_color:focus {
    border: 1px solid blue;
}

.hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.openLabel {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    background-color: cornflowerblue;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
}

.openLabel:hover {
    background-color: #5A86D5;
}

.openLabel:active {
    background-color: #4668A6;
}

#openLabel2 {
    display: inline-block;
    cursor: pointer;
    padding: 5px 8px;
    background-color: #E23731;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
}

#openLabel2:hover {
    background-color: #C42D28;
}

#openLabel2:active {
    background-color: #AC2823;
}

#openLabel3 {
    cursor: pointer;
    padding: 3px 8px;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
    margin-top: 35px;
    margin-left: -10px;
}

/*.image3{*/
/*width: 40px;*/
/*height: auto;*/
/*float: right;*/
/*margin-top: -35px;*/
/*}*/

.image3 {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -35px;
    margin-left: 100%;
}

#openLabel4 {
    display: inline-block;
    cursor: pointer;
    background-color: cornflowerblue;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
    padding: 11px 8px;
    margin-left: -15px;
    margin-top: 26px;
}

#openLabel4:hover {
    background-color: #5A86D5;
}

#openLabel4:active {
    background-color: #4668A6;
}

.btn2 {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    background-color: cornflowerblue;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    font-family: Palatino Linotype;
}

.btn2:hover {
    background-color: #5A86D5;
}

.btn2:active {
    background-color: #4668A6;
}

.click {
    padding-top: 50px;
}

.country {
    color: #999999;
}

.button {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 23px;
    background-color: cornflowerblue;
    color: white;
}

.button:hover {
    background-color: #5A86D5;
}

.button:active {
    background-color: #4668A6;
}

.add_field {
    margin: 30px auto 0;
}

.imgButton {
    margin-top: 23px;
    margin-left: -5px;
}

.imgProf {
    margin-left: -55px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.delet2 {
    margin-top: 6px;
    margin-left: -55px;
    width: 40px;
    height: 40px;
}

.new {
    width: 80px;
    height: 80px
}

hr {
    border-top: 2px solid #5A86D5;
    width: 60%;
    margin-top: 50px;
}

#upload-demo {
    position: relative;
    display: block;
    margin: auto;
}

#upload-demo-i {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delet3 {
    margin-top: 6px;
    margin-left: -55px;
    width: 40px;
    height: 40px;
}

.langDiv {
    /*margin-top: 23px;*/
    float: left;
    width: 100%;
}

.langDiv2 {
    float: left;
    width: 100%;
}

.newDiv2 {
    margin-top: 35px;
}

/*.persInf{*/
/*border: 2px solid #C7C7C7;*/
/*padding: 15px 15px 40px 15px;*/
/*border-radius: 8px;*/
/*}*/

.persInf {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid #C7C7C7;
    padding: 15px 15px 40px 15px;
    border-radius: 8px;
}

.persInf2 {
    border: 2px solid #C7C7C7;
    padding: 15px 15px 75px 15px;
    border-radius: 8px;
}

.inf {
    color: #AF0000;
}

.errorHid {
    color: #AF0000;
}

.btn-success:focus {
    background-color: cornflowerblue;
}

.btn-success:focus:active {
    background-color: #4668A6;
}

.ui-draggable {
    width: 60% !important;
    height: 87% !important;
    position: fixed !important;
    top: 5% !important;
    left: 20% !important;
}

table, th, td {
    border: 1px solid #A0A0A0;
    padding: 10px;
    table-layout: fixed !important;
    word-wrap: break-word;
    font-size: 12px;
    font-family: Palatino Linotype !important;

}

th {
    text-align: center;
}

.ui-dialog-content {
    width: 100% !important;
    height: 80% !important;
    z-index: 1002 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0 !important;
    border-width: 0 0 0 0;
}

.ui-widget-header {
    background: #2929292e !important;
}

.ui-dialog-buttonset {
    padding: 0 10px;
}

#basicModal {
    display: none;
}

#ui-id-1 {
    text-align: center;
    width: 97%;
}

#imageTd {
    border: 2px solid rgb(70, 104, 166);
}

.imageTh {
    width: 40%;
    text-align: center;
}

.ui-dialog-titlebar-close {
    background-image: url(images/ui-icons_444444_256x240.png);
    background-position: -96px -128px;
}

.yourUsername {
    color: #5A86D5;
    font-family: Palatino Linotype;
    font-size: 15px;
}

.yourUsername:hover {
    color: #4668A6;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-right: 2px solid #5A86D5;
    margin-top: -2px;
    margin-bottom: -6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 102%;
    box-shadow: 16px 8px 16px 0 rgba(0, 0, 0, 0.2);
    /*padding: 12px 16px;*/
    z-index: 1;
    border: 2px solid #5A86D5;
    margin-left: -2px;
    margin-top: 56px;
}

.colImage {
    padding-left: 0;
    padding-right: 0;
}

.colName {
    padding-right: 0;
    margin-top: 14px;
    padding-left: 30px;
}

.img {
    width: 55px;
    height: 52px;
    border-left: 2px solid #5A86D5;
    border-right: 2px solid #5A86D5;
    margin-left: -2px;
}

.nav > li > a {
    padding: 5px 10px;
}

.navbar-nav > li {
    float: none;
}

.miniImg {
    border-top: 2px solid #5A86D5;
    width: 80%;
    margin: 5px auto;
}

.w3-spin {
    font-size: 15px !important;
}

.fa-sign-out {
    font-size: 18px;
}

.glyphicon-list {
    color: #5A86D5;
    font-size: 14px;
    margin: 18px 20px 0 10px;
}

.glyphicon-list:hover {
    color: #4668A6
}

.h3nav {
    font-size: 30px;
}

.h4nav {
    margin-top: 30px;
}

.name {
    padding-left: 10px;
    padding-right: 10px;
}

#none {
    padding-left: 0;
    padding-right: 0;
}

.ong {
    margin-left: -10px !important;
}

.ong {
    margin-left: -10px !important;
}

.error {
    margin-top: -10px;
    font-size: 12px;
    float: left;
    color: red;
}

.inputs {
    padding: 0;
}

.topMin {
    /*margin-top: -5px;*/
}

@media only screen and (max-width: 950px) {

    .imgCv {
        width: 45px;
    }

    .imgCv2 {
        border: 2px solid #5A86D5;
        margin-right: -1px;
    }

    .h3nav {
        font-size: 27px;
        margin-left: -3px;
    }

    .h4nav {
        font-size: 16px;
        margin-left: -7px;
    }

    .navbar-brand {
        margin-top: -13px;
    }

    .img {
        height: 50px;
        width: 50px;
    }

    .yourUsername {
        font-size: 13px;
    }

    .colName {
        padding-left: 30px;
    }

    .dropdown-content {
        margin-top: 50px;
    }

    .logOut {
        font-size: 11px;
        margin-top: 7px;
        margin-bottom: 9px;
    }

    .fa-sign-out {
        font-size: 15px;
    }

    .navbar-right {
        margin-left: 0;
    }

    .glyphicon-list {
        font-size: 13px;
        margin: 18px 20px 0 10px;
    }

    .ui-draggable {
        width: 80% !important;
        height: 87% !important;
        position: fixed !important;
        top: 5% !important;
        left: 10% !important;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 15px;
    }

    .titleTable {
        font-size: 18px;
    }

    th, td {
        font-size: 12px;
        padding: 10px;
    }

    .ui-dialog-buttonset button {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {

    .imgCv {
        width: 40px;
    }

    .imgCv2 {
        border: 2px solid #5A86D5;
        margin-right: -3px;
    }

    .navbar {
        border: 4px solid #5A86D5;
    }

    .h3nav {
        font-size: 24px;
        margin-left: -4px;
    }

    .h4nav {
        font-size: 14px;
        margin-left: -8px;
        margin-top: 29px;
    }

    .navbar-brand {
        margin-top: -13px;
    }

    .img {
        height: 45px;
        width: 45px;
    }

    .yourUsername {
        font-size: 12px;
    }

    .colName {
        margin-top: 12px;
        padding-left: 27px;
    }

    .dropdown-content {
        margin-top: 46px;
    }

    .logOut {
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .fa-sign-out {
        font-size: 13px;
    }

    .navbar-right {
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 10px;
    }

    .glyphicon-list {
        font-size: 12px;
        margin: 15px 19px 5px 10px;
    }

    .ui-draggable {
        width: 80% !important;
        height: 87% !important;
        position: fixed !important;
        top: 5% !important;
        left: 10% !important;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 14px;
    }

    .titleTable {
        font-size: 16px;
    }

    th, td {
        font-size: 10px;
        padding: 9px;
    }

    .ui-dialog-buttonset button {
        font-size: 11px;
    }
}

@media only screen and (max-width: 650px) {

    .navbar {
        border: 4px solid #5A86D5;
        min-height: 46px;
    }

    .imgCv {
        width: 35px;
    }

    .imgCv2 {
        border: 2px solid #5A86D5;
        margin-right: -6px;
    }

    .h3nav {
        font-size: 21px;
        margin-left: -8px;
    }

    .h4nav {
        font-size: 12px;
        margin-left: -12px;
        margin-top: 28px;
    }

    .navbar-brand {
        margin-top: -13px;
    }

    .img {
        height: 40px;
        width: 40px;
    }

    .yourUsername {
        font-size: 11px;
    }

    .colName {
        margin-top: 8px;
        padding-left: 24px;
    }

    .dropdown-content {
        margin-top: 42px;
    }

    .logOut {
        font-size: 9px;
        margin-top: 3px;
        margin-bottom: 1px;
    }

    .fa-sign-out {
        font-size: 11px;
    }

    .navbar-right {
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 8px;
    }

    .glyphicon-list {
        font-size: 11px;
        margin: 13px 17px 0 10px;
    }

    .panel-body {
        font-size: 30px;
    }

    .ui-draggable {
        width: 98% !important;
        height: 98% !important;
        position: fixed !important;
        top: 1% !important;
        left: 1% !important;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 12px;
    }

    .titleTable {
        font-size: 13px;
    }

    th, td {
        font-size: 8px;
        padding: 7px;
    }

    .ui-dialog-buttonset button {
        font-size: 9px;
    }

    #upload1{
        border:6px solid #4668A6 !important;
    }
}

@media only screen and (max-width: 500px) {

    .navbar {
        border: 3px solid #5A86D5;
        min-height: 38px;
    }

    .imgCv {
        width: 30px;
    }

    .imgCv2 {
        border: 2px solid #5A86D5;
        margin-right: -6px;
    }

    .h3nav {
        font-size: 14px;
        margin-left: -22px;
        margin-top: 28px;
    }

    .h4nav {
        font-size: 10px;
        margin-left: -12px;
        margin-top: 32px;
    }

    .navbar-brand {
        margin-top: -20px;
    }

    .img {
        margin-left: -2px;
        height: 34px;
        width: 34px;
    }

    .yourUsername {
        margin-left: -7px;
        font-size: 9px;
    }

    .colName {
        margin-top: 5px;
        padding-left: 19px;
    }

    .dropdown-content {
        margin-top: 36px;
    }

    .logOut {
        font-size: 8px;
        margin-top: 1px;
        margin-bottom: 0;
    }

    .fa-sign-out {
        font-size: 9px;
    }

    .navbar-right {
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 7px;
    }

    .glyphicon-list {
        font-size: 9px;
        margin: 11px 10px 0 8px;
    }

    .panel-body {
        font-size: 25px;
    }

    .ong {
        margin-left: -20px !important;
    }

    .ong {
        margin-left: -20px !important;
    }

    .ui-draggable {
        width: 98% !important;
        height: 98% !important;
        position: fixed !important;
        top: 1% !important;
        left: 1% !important;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 9px;
    }

    .titleTable {
        font-size: 10px;
    }

    th, td {
        font-size: 5px;
        padding: 4px;
    }

    .ui-dialog-buttonset button {
        font-size: 7px;
    }

    /*.cr-boundary{*/
        /*margin-left: -28px !important;*/

    /*}*/

    #upload1{
        width: 85% !important;
        border:5px solid #4668A6 !important;
    }

}

.gallery {
    margin-left: 3vw;
    margin-right: 3vw;
}

.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom:hover, .zoom:active, .zoom:focus { /**adjust scale to desired size,    add browser prefixes**/
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position: relative;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    ul.gallery {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .DivName {
        cursor: pointer
    }
}
