body{
    background-color: #dedede;
    font-family:Palatino Linotype;
}

h2{
    color:#5A86D5 ;
    text-align: center;
}
.ui-dialog-titlebar-close {
    background-image: url(../../form/css/images/ui-icons_444444_256x240.png);
    background-position: -96px -128px;
}

h3{
    font-size:30px;
    color:#5A86D5 ;
}

h4{
    font-size:25px;
    color:#5A86D5 ;
    text-align: center;
}

label{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

th{
    font-size: 12px;
}

.admin{
    color: #5A86D5 !important;
    font-size: 20px;
    margin-top: 10px;
}

.admin:hover{
    color:#4668A6 !important;
}

.imgCv{
    width: 50px;
    float: right;
}

.imgCv2{
    border: 3px solid #5A86D5;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-default{
    background-color: #dce4e7;
}

.navbar-brand{
    padding:0;
    margin-top: -13px;
}

.users{
    /*padding-top: 25px;*/
    margin-left: 30px;
}

.navbar-brand2:hover{
    color: #4668A6;
}

.navbar{
    background-color: #f9f9f9;
    width: 100%;
    margin: auto;
    border: 5px solid #5A86D5;
    position: fixed;
    z-index: 100;
    border-radius: 0;
}

.navbar2{
    padding-top: 2px;
}

.navbar-nav {
    margin-top: 5px;
    float: none !important;
    margin-right: 0;
}

.logOut{
    font-size: 15px;
}

#example_wrapper{
    text-align: center;
    border-style: double;
    margin: 12% 0;
    border: 12px #5A86D5;
    border-style: double;
    /*padding: 35px;*/
    background-color: #f7f7f7;
}

#example_length{
    text-align: left !important;
}

#example_filter{
    float: right;
    margin-right: 40px;
}

.dataTables_scroll{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tableUsers{
    padding: 0 5px;
}

#example_info{
    float: left;
}

input[type = "text"]{
    width: 100%;
    padding: 8px 10px;
    margin: 0 0 0 0;
    display: inline-block;
    background: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
    background-color: #fff;
}

input[type = "text"]:focus{
    border: 1px solid #6292e9;
    background-color: white;
    outline: none;
}

input[type = "search"]{
    width: 100%;
    padding: 12px 18px;
    margin: 0 0 15px 0;
    display: inline-block;
    background: #EBEBEB;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
}

input[type = "search"]:focus{
    border: 1px solid #6292e9;
    background-color: white;
    outline: none;
}

.form-control{
    padding: 8px 15px;
    margin: 0 0 15px 0;
    background: #EBEBEB;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
    height: 40px;
    font-size: 18px;
}

.form-control:focus{
    border: 1px solid #6292e9;
    background-color: white;
    outline: none;
}

.form-control:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
}

.colImage {
    padding-left: 0;
    padding-right: 0;
}

.colName{
    padding-right: 0;
    margin-top: 15px;
    padding-left: 30px;
}

.img{
    width: 55px;
    height: 55px;
    border-left: 2px solid  #5A86D5;
    border-right: 2px solid #5A86D5;
    margin-left: -2px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-right: 2px solid #5A86D5;
    margin-top: -2px;
    margin-bottom: -6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 102%;
    box-shadow: 16px 8px 16px 0 rgba(0,0,0,0.2);
    /*padding: 12px 16px;*/
    z-index: 1;
    border: 2px solid  #5A86D5;
    margin-left: -2px;
    margin-top: 56px;
}

.yourUsername {
    color: #5A86D5;
    font-family: Palatino Linotype;
    font-size: 15px;
}

.yourUsername:hover{
    color:#4668A6 ;
    text-decoration: none;
}

.nav>li>a{
    padding:5px 10px;
}

.navbar-nav>li{
    float: none;
    text-align: center;
}

.miniImg{
    border-top: 2px solid #5A86D5;
    width: 80%;
    margin: 5px auto;
}

.w3-spin {
    font-size: 15px;
}

.fa-sign-out{
    font-size:18px;
}

.logOut{
    font-size: 12px;
}

.logOut:hover{
    color:#4668A6;
    text-decoration:underline;
}

.glyphicon-list{
    color: #5A86D5;
    font-size: 14px;
    margin: 18px 20px 0 10px;
}

.glyphicon-list:hover{
    color:#4668A6
}

.tree{
    margin-bottom: 5px;
}

.glyphicon{
    padding-right: 5px;
}

#basicModal{
    display: none;
}

.tables, .tables th, .tables td{
    border: 1px solid #A0A0A0;
    padding: 10px;
    table-layout:fixed !important;
    word-wrap: break-word;
    font-size: 15px;
    font-family:Palatino Linotype;
}

.ui-draggable{
    /*width: 60% !important;*/
    /*height: 87%  !important;*/
    /*position: fixed !important;*/
    /*top: 5% !important;*/
    /*left: 20% !important;*/
}

.ui-dialog-content{
    width: 100% !important;
    height: 80% !important;
    z-index:1002 !important;
}

#ui-id-1{
    text-align: center;
}

#imageTd{
    border: 4px solid rgb(70, 104, 166);
    padding: 3px;
    margin: auto;
}

.glyphicon-ok{
    padding-right: 0;
    padding-left: 3px;
}

.openLabel31{
    padding-left: 0;
}

.imageTh{
    width: 50%;
    text-align: center;
}



.dataTables_info{
    margin-left: 20% !important;
}

.toolbar{
    margin-top: 30px;
}

.toolbar b{
    font-size:25px;
    color: #5A86D5;
    font-family: Palatino Linotype;
}

.bottom{
    margin: 30px 0;
    padding-bottom: 20px;
}

.dataTables_scrollHeadInner .table-bordered{
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dataTables_scrollFootInner .table-bordered{
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dataTables_scrollBody .table-bordered{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.table-bordered{
    background-color: white !important;
}

tr{
    padding-left: 10px;
    font-size: 16px;
}

.table>tbody>tr>td{
    padding-left: 10px;
    font-size: 14px;
    vertical-align: baseline !important;
}

th{
    text-align: center;
}

.openLabel {
    background-color: cornflowerblue;
    display: inline-block;
    cursor:pointer;
    padding: 4px 8px;
    color:#ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    margin: auto;
}

.openLabel:hover{
    background-color: #5A86D5;
}

.openLabel:active{
    background-color: #4668A6;
}

.fbut2 {
    background-color: cornflowerblue;
    display: inline-block;
    cursor:pointer;
    padding: 4px 8px;
    color:#ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    margin: auto;
}

.fbut2:hover{
    background-color: #5A86D5;
}

.fbut2:active{
    background-color: #4668A6;
}

.btn-danger{
    background-color: #ee1a14;
    display: inline-block;
    cursor:pointer !important;
    padding: 4px 8px;
    color:#ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    margin: auto;
}

.btn-danger:hover{
    background-color: #CB1A14;
}

.btn-danger:active{
    background-color: #A41A14;
}

.textAdmin{
    width: 100%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 35px !important;
    text-align: left;
    resize: none;
}

#contact{
    display: none;
}
#about1{
    display: none;
}

#titleCon{
    text-align: center;
}


.ui-dialog{
    /*height: 60% !important;*/
    top: 10% !important;
    margin:  auto !important;
    position: fixed !important;
}

#emailUser{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
#notetext{
    width: 100%;
    height: 80%;
    max-width: 100%;
    text-align: left;
    margin-top: 10px;
    border: 1px solid black;
}

.btn{
    cursor: auto;
}

.btn-default{
    background-color: #ffffff !important;
}

.divs{
    margin-top: 20px !important;
    width: 80% !important;
    margin-left: 10% !important;
}

#divCon{
    border: 1px solid #dddddd;
    background-color: #e9e9e9;
    width: 80%;
    margin: auto;
}

.buts{
    margin: 20px 70px 20px -40px !important;
    width: 120%;
}

.buts2{
    /*margin: 10px 20px 10px 0px !important;*/
    /*float: right;*/
    /*width: 20%;*/
}

.ui-dialog-buttonset{
    /*width:80%;*/
}

.titleTable{
    padding-top: 20px;
    padding-bottom: 10px;
}

.tt{
    margin-top: -8px;
}

#subject{
    text-align: left;
}

.deleteUser{
    width: 70%;
    margin: 7% auto;
}

.h3nav{
    font-size:30px;
}

.h4nav{
    margin-top: 30px;
}

#example_paginate {
    text-align: right !important;
    margin-top: 2px;
}

#example_paginate a{
    cursor: pointer;
    text-decoration: none;
    padding: 0 3px;
}

.ui-corner-all{
    border-radius:4px !important;
}

.fbut{
    background-color: #ee1a14;
    display: inline-block;
    cursor:pointer !important;
    padding: 4px 8px;
    color:#ffffff;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    margin: 5px 15px;
}

.fbut:hover{
    background-color: #CB1A14;
}

.fbut:active{
    background-color: #A41A14;
}

.sendcon{
    margin: 5px 15px;
}


@media only screen and (max-width: 950px) {

    .imgCv{
        width: 45px;
    }

    .imgCv2{
        border: 2px solid #5A86D5;
        margin-right: -1px;
    }

    .h3nav{
        font-size: 27px ;
        margin-left: -3px;
    }

    .h4nav{
        font-size: 16px ;
        margin-left: -7px;
    }

    .navbar-brand {
        margin-top: -13px;
    }

    .img{
        height: 50px;
        width: 50px;
    }

    .yourUsername{
        font-size: 13px;
    }

    .colName{
        padding-left: 30px;
    }

    .dropdown-content{
        margin-top: 50px;
    }

    .logOut{
        font-size: 11px;
        margin-top: 7px;
        margin-bottom: 9px;
    }

    .fa-sign-out{
        font-size: 15px;
    }

    .navbar-right{
        margin-left: 0;
    }

    .glyphicon-list{
        font-size: 13px;
        margin: 18px 20px 0 10px;
    }

    .ui-draggable{
        /*width: 80% !important;*/
        /*height: 87%  !important;*/
        position: fixed !important;
        top: 5% !important;
        /*left: 10% !important;*/
    }

    .ui-dialog .ui-dialog-title{
        font-size: 15px;
    }

    .titleTable{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 9px;
    }

    th, td{
        font-size: 12px !important;
        padding: 4px 8px !important;
    }

    .ui-dialog-buttonset button{
        font-size: 13px;
    }

    .bottom{
        margin-top: 25px;
    }

    .openLabel{
        font-size: 13px;
    }

    .btn-danger{
        font-size: 13px;
    }

    .fbut{
        font-size: 13px;
    }

    .fbut2{
        font-size: 13px;
    }

    input[type = "text"]{
        padding: 7px 9px;
    }

    .ui-dialog-buttonpane{
        margin-top: 0 !important;
    }

    #imageTd{
        border: 4px solid rgb(70, 104, 166);
        padding: 3px;
    }
}




@media only screen and (max-width: 800px) {

    .imgCv{
        width: 40px;
    }

    .imgCv2{
        border: 2px solid #5A86D5;
        margin-right: -3px;
    }

    .navbar{
        border: 4px solid  #5A86D5;
        position:static;
    }

    .h3nav{
        font-size: 24px;
        margin-left: -5px;
    }

    .h4nav{
        font-size: 14px;
        margin-top: 29px;
        margin-left: -8px;
    }

    .navbar-brand {
        margin-top: -13px;
    }

    .img{
        height: 45px;
        width: 45px;
    }

    .yourUsername{
        font-size: 12px;
    }

    .colName{
        margin-top: 13px;
        padding-left: 27px;
    }

    .dropdown-content{
        margin-top: 46px;
    }

    .logOut{
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .fa-sign-out{
        font-size: 13px;
    }

    .navbar-right{
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 10px;
    }

    .glyphicon-list{
        font-size: 12px;
        margin: 15px 19px 5px 10px;
    }

    #example_length{
        padding: 0 10px;
    }

    #example_paginate{
        padding: 0 10px;
    }

    #example_length label{
        font-size: 16px;
    }

    #example_paginate a{
        font-size: 13px;
    }

    .ui-draggable{
        /*width: 80% !important;*/
        /*height: 87%  !important;*/
        position: fixed !important;
        top: 5% !important;
        /*left: 10% !important;*/
    }

    .ui-dialog .ui-dialog-title{
        font-size: 14px;
    }

    .titleTable{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 6px;
    }

    th, td{
        font-size: 10px !important;
        padding:3px 7px !important;
    }

    .ui-dialog-buttonset button{
        font-size: 11px;
    }

    .bottom{
        margin-top: 20px;
    }

    .openLabel{
        font-size: 11px;
        padding: 3px 6px;
    }

    .btn-danger{
        font-size: 11px;
        padding: 3px 6px;
    }

    .fbut{
        font-size: 11px;
        padding: 3px 6px;
    }

    .fbut2{
        font-size: 11px;
        padding: 3px 6px;
    }

    input[type = "text"]{
        padding: 7px 8px;
    }

    .ui-dialog-buttonpane{
        margin-top: -10px !important;
    }

    #imageTd{
        border: 3px solid rgb(70, 104, 166);
        padding: 2px;
    }


}


@media only screen and (max-width: 650px) {

    .navbar{
        border: 4px solid  #5A86D5;
        min-height: 46px;
        position:static;
    }

    .imgCv{
        width: 35px;
    }

    .imgCv2{
        border: 2px solid #5A86D5;
        margin-right: -6px;

    }

    .h3nav{
        font-size: 21px;
        margin-left: -8px;
    }

    .h4nav{
        font-size: 12px;
        margin-top: 28px;
        margin-left: -12px;
    }

    .navbar-brand{
        margin-top: -13px;
    }

    .img{
        height: 40px;
        width: 40px;
    }

    .yourUsername{
        font-size: 11px;
    }

    .colName{
        margin-top: 11px;
        padding-left: 24px;
    }

    .dropdown-content{
        margin-top: 42px;
    }

    .logOut{
        font-size: 9px;
        margin-top: 3px;
        margin-bottom: 1px;
    }

    .fa-sign-out{
        font-size: 11px;
    }

    .navbar-right{
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 8px;
    }

    .glyphicon-list{
        font-size: 11px;
        margin: 13px 17px 0 10px;
    }

    #example_length{
        padding: 0 8px;
    }

    #example_paginate{
        padding: 0 5px;
    }

    #example_length label{
        font-size: 16px;
    }

    #example_paginate a{
        font-size:12px;
    }

    .ui-draggable{
        /*width: 80% !important;*/
        /*height: 87%  !important;*/
        position: fixed !important;
        top: 5% !important;
        /*left: 10% !important;*/
    }

    .ui-dialog .ui-dialog-title{
        font-size: 12px;
    }

    .titleTable{
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 3px;
    }

    th, td{
        font-size: 9px !important;
        padding: 2px 6px !important;
    }

    .ui-dialog-buttonset button{
        font-size: 9px;
    }

    .bottom{
        margin-top: 15px;
    }

    .openLabel{
        font-size: 9px;
        padding: 2px 4px;
    }

    .btn-danger{
        font-size: 9px;
        padding: 2px 4px;
    }

    .fbut{
        font-size: 9px;
        padding: 2px 4px;
    }

    .fbut2{
        font-size: 11px;
        padding: 3px 6px;
    }

    input[type = "text"]{
        padding: 5px 7px;
    }

    .ui-dialog-buttonpane{
        margin-top: -20px !important;
    }

    #imageTd{
        border: 2px solid rgb(70, 104, 166);
        padding: 2px;
    }

    .deleteUser{
        width: 95%;
        margin: 0 auto;
    }

    .deleteH3{
        font-size: 25px;
    }


}

@media only screen and (max-width: 500px) {

    .navbar{
        border: 3px solid  #5A86D5;
        min-height: 38px;
        position:static;

    }

    .imgCv{
        width: 30px;
    }

    .imgCv2{
        border: 2px solid #5A86D5;
        margin-right: -6px;

    }

    .h3nav{
        font-size: 18px;
        margin-top: 25px;
        margin-left: -11px;
    }

    .h4nav{
        font-size: 10px;
        margin-top: 32px;
        margin-left: -12px;
    }

    .navbar-brand{
        margin-top: -20px;
    }

    .img{
        height: 34px;
        width: 34px;
    }

    .yourUsername{
        font-size: 9px;
    }

    .colName{
        margin-top: 10px;
        padding-left: 19px;
    }

    .dropdown-content{
        margin-top: 36px;
    }

    .logOut{
        font-size: 8px;
        margin-top: 1px;
        margin-bottom: 0;
    }

    .fa-sign-out{
        font-size: 9px;
    }

    .navbar-right{
        margin-left: 0;
    }

    .glyphicon-lock {
        font-size: 7px;
    }

    .glyphicon-list{
        font-size: 9px;
        margin: 11px 17px 0 8px;
    }

    #example_length{
        padding: 0 5px;
    }

    #example_paginate{
        padding: 0 ;
    }

    #example_length label{
        font-size: 5px;
    }

    #example_paginate a{
        font-size: 5px;
    }

    .ui-draggable{
        /*width: 80% !important;*/
        /*height: 80%  !important;*/
        position: fixed !important;
        top: 5% !important;
        /*left: 10% !important;*/
    }

    .ui-dialog .ui-dialog-title{
        font-size: 9px;
    }

    .titleTable{
        font-size: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    th, td{
        font-size: 8px !important;
        padding: 2px 5px !important;
    }

    .ui-dialog-buttonset button{
        font-size: 7px !important;
    }

    .bottom{
        margin-top: 10px;
    }

    .openLabel{
        font-size: 7px;
        padding: 2px 4px;
    }

    .btn-danger{
        font-size: 7px;
        padding: 2px 4px;
    }

    .fbut{
        font-size: 7px;
        padding: 2px 4px;
    }

    .fbut2{
        font-size: 11px;
        padding: 3px 6px;
    }

    input[type = "text"]{
        padding: 4px 6px;
    }

    .ui-dialog-buttonpane{
        margin-top: -5px !important;
    }

    #imageTd{
        border: 1px solid rgb(70, 104, 166);
        padding: 1px;
    }

    .deleteUser{
        width: 95%;
        margin: 0 auto;
    }

    .deleteH3{
        font-size: 17px;
    }

}

@media only screen and (max-width: 300px) {
    .glyphicon-list {
        display: none;
    }
}

.gallery{
    margin-left: 3vw;
    margin-right:3vw;
}

.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position:relative;
    z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/
@media only screen and (max-width: 768px) {
    ul.gallery {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
}













